# Series: single row or column

## Pandas Series: Basics

In [17]:
#import pandas
import pandas as pd

In [18]:
titanic = pd.read_csv('titanic.csv')

In [19]:
#Column dot-notation
titanic.age

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64

In [20]:
age = titanic['age']

In [21]:
type(age)

pandas.core.series.Series

In [22]:
age.head()

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: age, dtype: float64

In [23]:
age.tail()

886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, dtype: float64

In [24]:
# Get the type of data in Series
age.dtype

dtype('float64')

In [25]:
age.shape

(891,)

In [26]:
len(age)

891

In [27]:
age.index

RangeIndex(start=0, stop=891, step=1)

In [ ]:
# we can't use info method with Series
age.info()

In [28]:
#Convert pandas Series to pandas Dataframe and use info method
age.to_frame()

      age
0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
..    ...
886  27.0
887  19.0
888   NaN
889  26.0
890  32.0

[891 rows x 1 columns]

In [29]:
age.to_frame().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     714 non-null    float64
dtypes: float64(1)
memory usage: 7.1 KB