In [1]:
#import libraries
import pandas as pd

In [2]:
#Save dataframe in variable  .. (notebook and csv in the same folder)
titanic = pd.read_csv('titanic.csv')

In [8]:
type(titanic)

pandas.core.frame.DataFrame

In [10]:
titanic.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN

In [13]:
titanic.sex

0        male
1      female
2      female
3      female
4        male
        ...
886      male
887    female
888    female
889      male
890      male
Name: sex, Length: 891, dtype: object

## (head) and (tail) methods

In [14]:
print (titanic)

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [16]:
titanic.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN

In [17]:
titanic.head(10)

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN
5         0       3    male   NaN      0      0   8.4583        Q  NaN
6         0       1    male  54.0      0      0  51.8625        S    E
7         0       3    male   2.0      3      1  21.0750        S  NaN
8         1       3  female  27.0      0      2  11.1333        S  NaN
9         1       2  female  14.0      1      0  30.0708        C  NaN

In [15]:
titanic.tail()

     survived  pclass     sex   age  sibsp  parch   fare embarked deck
886         0       2    male  27.0      0      0  13.00        S  NaN
887         1       1  female  19.0      0      0  30.00        S    B
888         0       3  female   NaN      1      2  23.45        S  NaN
889         1       1    male  26.0      0      0  30.00        C    C
890         0       3    male  32.0      0      0   7.75        Q  NaN

In [18]:
#get pandas display options. max_rows: if dataframe less than max rows will display all
pd.options.display.max_rows

60

In [20]:
#get pandas display options. min rows: if dataframe more than max rows will display min rows
pd.options.display.min_rows

10

In [19]:
titanic

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [21]:
#change min_rows into 20 
pd.options.display.min_rows = 20

In [22]:
titanic

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
5           0       3    male   NaN      0      0   8.4583        Q  NaN
6           0       1    male  54.0      0      0  51.8625        S    E
7           0       3    male   2.0      3      1  21.0750        S  NaN
8           1       3  female  27.0      0      2  11.1333        S  NaN
9           1       2  female  14.0      1      0  30.0708        C  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
881         0       3    male  33.0      0      0   7.8958        S  NaN
882         0       3  female  22.0      0      0  10.5167        S  NaN
883         0       2    male  28.0      0      0  10.5000        S  NaN
884         0       3    male  25.0      0      0   7.0500        S  NaN
885         0       3  female  39.0      0      5  29.1250        Q  NaN
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

if min_rows = None:  the pandas will show all the max rows

In [23]:
pd.options.display.min_rows = None

In [24]:
titanic

     survived  pclass     sex   age  sibsp  parch      fare embarked deck
0           0       3    male  22.0      1      0    7.2500        S  NaN
1           1       1  female  38.0      1      0   71.2833        C    C
2           1       3  female  26.0      0      0    7.9250        S  NaN
3           1       1  female  35.0      1      0   53.1000        S    C
4           0       3    male  35.0      0      0    8.0500        S  NaN
5           0       3    male   NaN      0      0    8.4583        Q  NaN
6           0       1    male  54.0      0      0   51.8625        S    E
7           0       3    male   2.0      3      1   21.0750        S  NaN
8           1       3  female  27.0      0      2   11.1333        S  NaN
9           1       2  female  14.0      1      0   30.0708        C  NaN
10          1       3  female   4.0      1      1   16.7000        S    G
11          1       1  female  58.0      0      0   26.5500        S    C
12          0       3    male  20.0      0      0    8.0500        S  NaN
13          0       3    male  39.0      1      5   31.2750        S  NaN
14          0       3  female  14.0      0      0    7.8542        S  NaN
15          1       2  female  55.0      0      0   16.0000        S  NaN
16          0       3    male   2.0      4      1   29.1250        Q  NaN
17          1       2    male   NaN      0      0   13.0000        S  NaN
18          0       3  female  31.0      1      0   18.0000        S  NaN
19          1       3  female   NaN      0      0    7.2250        C  NaN
20          0       2    male  35.0      0      0   26.0000        S  NaN
21          1       2    male  34.0      0      0   13.0000        S    D
22          1       3  female  15.0      0      0    8.0292        Q  NaN
23          1       1    male  28.0      0      0   35.5000        S    A
24          0       3  female   8.0      3      1   21.0750        S  NaN
25          1       3  female  38.0      1      5   31.3875        S  NaN
26          0       3    male   NaN      0      0    7.2250        C  NaN
27          0       1    male  19.0      3      2  263.0000        S    C
28          1       3  female   NaN      0      0    7.8792        Q  NaN
29          0       3    male   NaN      0      0    7.8958        S  NaN
..        ...     ...     ...   ...    ...    ...       ...      ...  ...
861         0       2    male  21.0      1      0   11.5000        S  NaN
862         1       1  female  48.0      0      0   25.9292        S    D
863         0       3  female   NaN      8      2   69.5500        S  NaN
864         0       2    male  24.0      0      0   13.0000        S  NaN
865         1       2  female  42.0      0      0   13.0000        S  NaN
866         1       2  female  27.0      1      0   13.8583        C  NaN
867         0       1    male  31.0      0      0   50.4958        S    A
868         0       3    male   NaN      0      0    9.5000        S  NaN
869         1       3    male   4.0      1      1   11.1333        S  NaN
870         0       3    male  26.0      0      0    7.8958        S  NaN
871         1       1  female  47.0      1      1   52.5542        S    D
872         0       1    male  33.0      0      0    5.0000        S    B
873         0       3    male  47.0      0      0    9.0000        S  NaN
874         1       2  female  28.0      1      0   24.0000        C  NaN
875         1       3  female  15.0      0      0    7.2250        C  NaN
876         0       3    male  20.0      0      0    9.8458        S  NaN
877         0       3    male  19.0      0      0    7.8958        S  NaN
878         0       3    male   NaN      0      0    7.8958        S  NaN
879         1       1  female  56.0      0      1   83.1583        C    C
880         1       2  female  25.0      0      1   26.0000        S  NaN
881         0       3    male  33.0      0      0    7.8958        S  NaN
882         0       3  female  22.0      0      0   10.5167        S  NaN
883         0       2    male  28.0      0      0   10.5000        S  NaN
884         0       3    male  25.0      0      0    7.0500        S  NaN
885         0       3  female  39.0      0      5   29.1250        Q  NaN
886         0       2    male  27.0      0      0   13.0000        S  NaN
887         1       1  female  19.0      0      0   30.0000        S    B
888         0       3  female   NaN      1      2   23.4500        S  NaN
889         1       1    male  26.0      0      0   30.0000        C    C
890         0       3    male  32.0      0      0    7.7500        Q  NaN

[891 rows x 9 columns]

if max rows = rows in dataframe: pd will show them all

In [25]:
pd.options.display.max_rows = 891

In [26]:
titanic

     survived  pclass     sex    age  sibsp  parch      fare embarked deck
0           0       3    male  22.00      1      0    7.2500        S  NaN
1           1       1  female  38.00      1      0   71.2833        C    C
2           1       3  female  26.00      0      0    7.9250        S  NaN
3           1       1  female  35.00      1      0   53.1000        S    C
4           0       3    male  35.00      0      0    8.0500        S  NaN
5           0       3    male    NaN      0      0    8.4583        Q  NaN
6           0       1    male  54.00      0      0   51.8625        S    E
7           0       3    male   2.00      3      1   21.0750        S  NaN
8           1       3  female  27.00      0      2   11.1333        S  NaN
9           1       2  female  14.00      1      0   30.0708        C  NaN
10          1       3  female   4.00      1      1   16.7000        S    G
11          1       1  female  58.00      0      0   26.5500        S    C
12          0       3    male  20.00      0      0    8.0500        S  NaN
13          0       3    male  39.00      1      5   31.2750        S  NaN
14          0       3  female  14.00      0      0    7.8542        S  NaN
15          1       2  female  55.00      0      0   16.0000        S  NaN
16          0       3    male   2.00      4      1   29.1250        Q  NaN
17          1       2    male    NaN      0      0   13.0000        S  NaN
18          0       3  female  31.00      1      0   18.0000        S  NaN
19          1       3  female    NaN      0      0    7.2250        C  NaN
20          0       2    male  35.00      0      0   26.0000        S  NaN
21          1       2    male  34.00      0      0   13.0000        S    D
22          1       3  female  15.00      0      0    8.0292        Q  NaN
23          1       1    male  28.00      0      0   35.5000        S    A
24          0       3  female   8.00      3      1   21.0750        S  NaN
25          1       3  female  38.00      1      5   31.3875        S  NaN
26          0       3    male    NaN      0      0    7.2250        C  NaN
27          0       1    male  19.00      3      2  263.0000        S    C
28          1       3  female    NaN      0      0    7.8792        Q  NaN
29          0       3    male    NaN      0      0    7.8958        S  NaN
30          0       1    male  40.00      0      0   27.7208        C  NaN
31          1       1  female    NaN      1      0  146.5208        C    B
32          1       3  female    NaN      0      0    7.7500        Q  NaN
33          0       2    male  66.00      0      0   10.5000        S  NaN
34          0       1    male  28.00      1      0   82.1708        C  NaN
35          0       1    male  42.00      1      0   52.0000        S  NaN
36          1       3    male    NaN      0      0    7.2292        C  NaN
37          0       3    male  21.00      0      0    8.0500        S  NaN
38          0       3  female  18.00      2      0   18.0000        S  NaN
39          1       3  female  14.00      1      0   11.2417        C  NaN
40          0       3  female  40.00      1      0    9.4750        S  NaN
41          0       2  female  27.00      1      0   21.0000        S  NaN
42          0       3    male    NaN      0      0    7.8958        C  NaN
43          1       2  female   3.00      1      2   41.5792        C  NaN
44          1       3  female  19.00      0      0    7.8792        Q  NaN
45          0       3    male    NaN      0      0    8.0500        S  NaN
46          0       3    male    NaN      1      0   15.5000        Q  NaN
47          1       3  female    NaN      0      0    7.7500        Q  NaN
48          0       3    male    NaN      2      0   21.6792        C  NaN
49          0       3  female  18.00      1      0   17.8000        S  NaN
50          0       3    male   7.00      4      1   39.6875        S  NaN
51          0       3    male  21.00      0      0    7.8000        S  NaN
52          1       1  female  49.00      1      0   76.7292        C    D
53          1       2  female  29.00      1      0   26.0000        S  NaN
54          0       1    male  65.00      0      1   61.9792        C    B
55          1       1    male    NaN      0      0   35.5000        S    C
56          1       2  female  21.00      0      0   10.5000        S  NaN
57          0       3    male  28.50      0      0    7.2292        C  NaN
58          1       2  female   5.00      1      2   27.7500        S  NaN
59          0       3    male  11.00      5      2   46.9000        S  NaN
60          0       3    male  22.00      0      0    7.2292        C  NaN
61          1       1  female  38.00      0      0   80.0000      NaN    B
62          0       1    male  45.00      1      0   83.4750        S    C
63          0       3    male   4.00      3      2   27.9000        S  NaN
64          0       1    male    NaN      0      0   27.7208        C  NaN
65          1       3    male    NaN      1      1   15.2458        C  NaN
66          1       2  female  29.00      0      0   10.5000        S    F
67          0       3    male  19.00      0      0    8.1583        S  NaN
68          1       3  female  17.00      4      2    7.9250        S  NaN
69          0       3    male  26.00      2      0    8.6625        S  NaN
70          0       2    male  32.00      0      0   10.5000        S  NaN
71          0       3  female  16.00      5      2   46.9000        S  NaN
72          0       2    male  21.00      0      0   73.5000        S  NaN
73          0       3    male  26.00      1      0   14.4542        C  NaN
74          1       3    male  32.00      0      0   56.4958        S  NaN
75          0       3    male  25.00      0      0    7.6500        S    F
76          0       3    male    NaN      0      0    7.8958        S  NaN
77          0       3    male    NaN      0      0    8.0500        S  NaN
78          1       2    male   0.83      0      2   29.0000        S  NaN
79          1       3  female  30.00      0      0   12.4750        S  NaN
80          0       3    male  22.00      0      0    9.0000        S  NaN
81          1       3    male  29.00      0      0    9.5000        S  NaN
82          1       3  female    NaN      0      0    7.7875        Q  NaN
83          0       1    male  28.00      0      0   47.1000        S  NaN
84          1       2  female  17.00      0      0   10.5000        S  NaN
85          1       3  female  33.00      3      0   15.8500        S  NaN
86          0       3    male  16.00      1      3   34.3750        S  NaN
87          0       3    male    NaN      0      0    8.0500        S  NaN
88          1       1  female  23.00      3      2  263.0000        S    C
89          0       3    male  24.00      0      0    8.0500        S  NaN
90          0       3    male  29.00      0      0    8.0500        S  NaN
91          0       3    male  20.00      0      0    7.8542        S  NaN
92          0       1    male  46.00      1      0   61.1750        S    E
93          0       3    male  26.00      1      2   20.5750        S  NaN
94          0       3    male  59.00      0      0    7.2500        S  NaN
95          0       3    male    NaN      0      0    8.0500        S  NaN
96          0       1    male  71.00      0      0   34.6542        C    A
97          1       1    male  23.00      0      1   63.3583        C    D
98          1       2  female  34.00      0      1   23.0000        S  NaN
99          0       2    male  34.00      1      0   26.0000        S  NaN
100         0       3  female  28.00      0      0    7.8958        S  NaN
101         0       3    male    NaN      0      0    7.8958        S  NaN
102         0       1    male  21.00      0      1   77.2875        S    D
103         0       3    male  33.00      0      0    8.6542        S  NaN
104         0       3    male  37.00      2      0    7.9250        S  NaN
105         0       3    male  28.00      0      0    7.8958        S  NaN
106         1       3  female  21.00      0      0    7.6500        S  NaN
107         1       3    male    NaN      0      0    7.7750        S  NaN
108         0       3    male  38.00      0      0    7.8958        S  NaN
109         1       3  female    NaN      1      0   24.1500        Q  NaN
110         0       1    male  47.00      0      0   52.0000        S    C
111         0       3  female  14.50      1      0   14.4542        C  NaN
112         0       3    male  22.00      0      0    8.0500        S  NaN
113         0       3  female  20.00      1      0    9.8250        S  NaN
114         0       3  female  17.00      0      0   14.4583        C  NaN
115         0       3    male  21.00      0      0    7.9250        S  NaN
116         0       3    male  70.50      0      0    7.7500        Q  NaN
117         0       2    male  29.00      1      0   21.0000        S  NaN
118         0       1    male  24.00      0      1  247.5208        C    B
119         0       3  female   2.00      4      2   31.2750        S  NaN
120         0       2    male  21.00      2      0   73.5000        S  NaN
121         0       3    male    NaN      0      0    8.0500        S  NaN
122         0       2    male  32.50      1      0   30.0708        C  NaN
123         1       2  female  32.50      0      0   13.0000        S    E
124         0       1    male  54.00      0      1   77.2875        S    D
125         1       3    male  12.00      1      0   11.2417        C  NaN
126         0       3    male    NaN      0      0    7.7500        Q  NaN
127         1       3    male  24.00      0      0    7.1417        S  NaN
128         1       3  female    NaN      1      1   22.3583        C    F
129         0       3    male  45.00      0      0    6.9750        S  NaN
130         0       3    male  33.00      0      0    7.8958        C  NaN
131         0       3    male  20.00      0      0    7.0500        S  NaN
132         0       3  female  47.00      1      0   14.5000        S  NaN
133         1       2  female  29.00      1      0   26.0000        S  NaN
134         0       2    male  25.00      0      0   13.0000        S  NaN
135         0       2    male  23.00      0      0   15.0458        C  NaN
136         1       1  female  19.00      0      2   26.2833        S    D
137         0       1    male  37.00      1      0   53.1000        S    C
138         0       3    male  16.00      0      0    9.2167        S  NaN
139         0       1    male  24.00      0      0   79.2000        C    B
140         0       3  female    NaN      0      2   15.2458        C  NaN
141         1       3  female  22.00      0      0    7.7500        S  NaN
142         1       3  female  24.00      1      0   15.8500        S  NaN
143         0       3    male  19.00      0      0    6.7500        Q  NaN
144         0       2    male  18.00      0      0   11.5000        S  NaN
145         0       2    male  19.00      1      1   36.7500        S  NaN
146         1       3    male  27.00      0      0    7.7958        S  NaN
147         0       3  female   9.00      2      2   34.3750        S  NaN
148         0       2    male  36.50      0      2   26.0000        S    F
149         0       2    male  42.00      0      0   13.0000        S  NaN
150         0       2    male  51.00      0      0   12.5250        S  NaN
151         1       1  female  22.00      1      0   66.6000        S    C
152         0       3    male  55.50      0      0    8.0500        S  NaN
153         0       3    male  40.50      0      2   14.5000        S  NaN
154         0       3    male    NaN      0      0    7.3125        S  NaN
155         0       1    male  51.00      0      1   61.3792        C  NaN
156         1       3  female  16.00      0      0    7.7333        Q  NaN
157         0       3    male  30.00      0      0    8.0500        S  NaN
158         0       3    male    NaN      0      0    8.6625        S  NaN
159         0       3    male    NaN      8      2   69.5500        S  NaN
160         0       3    male  44.00      0      1   16.1000        S  NaN
161         1       2  female  40.00      0      0   15.7500        S  NaN
162         0       3    male  26.00      0      0    7.7750        S  NaN
163         0       3    male  17.00      0      0    8.6625        S  NaN
164         0       3    male   1.00      4      1   39.6875        S  NaN
165         1       3    male   9.00      0      2   20.5250        S  NaN
166         1       1  female    NaN      0      1   55.0000        S    E
167         0       3  female  45.00      1      4   27.9000        S  NaN
168         0       1    male    NaN      0      0   25.9250        S  NaN
169         0       3    male  28.00      0      0   56.4958        S  NaN
170         0       1    male  61.00      0      0   33.5000        S    B
171         0       3    male   4.00      4      1   29.1250        Q  NaN
172         1       3  female   1.00      1      1   11.1333        S  NaN
173         0       3    male  21.00      0      0    7.9250        S  NaN
174         0       1    male  56.00      0      0   30.6958        C    A
175         0       3    male  18.00      1      1    7.8542        S  NaN
176         0       3    male    NaN      3      1   25.4667        S  NaN
177         0       1  female  50.00      0      0   28.7125        C    C
178         0       2    male  30.00      0      0   13.0000        S  NaN
179         0       3    male  36.00      0      0    0.0000        S  NaN
180         0       3  female    NaN      8      2   69.5500        S  NaN
181         0       2    male    NaN      0      0   15.0500        C  NaN
182         0       3    male   9.00      4      2   31.3875        S  NaN
183         1       2    male   1.00      2      1   39.0000        S    F
184         1       3  female   4.00      0      2   22.0250        S  NaN
185         0       1    male    NaN      0      0   50.0000        S    A
186         1       3  female    NaN      1      0   15.5000        Q  NaN
187         1       1    male  45.00      0      0   26.5500        S  NaN
188         0       3    male  40.00      1      1   15.5000        Q  NaN
189         0       3    male  36.00      0      0    7.8958        S  NaN
190         1       2  female  32.00      0      0   13.0000        S  NaN
191         0       2    male  19.00      0      0   13.0000        S  NaN
192         1       3  female  19.00      1      0    7.8542        S  NaN
193         1       2    male   3.00      1      1   26.0000        S    F
194         1       1  female  44.00      0      0   27.7208        C    B
195         1       1  female  58.00      0      0  146.5208        C    B
196         0       3    male    NaN      0      0    7.7500        Q  NaN
197         0       3    male  42.00      0      1    8.4042        S  NaN
198         1       3  female    NaN      0      0    7.7500        Q  NaN
199         0       2  female  24.00      0      0   13.0000        S  NaN
200         0       3    male  28.00      0      0    9.5000        S  NaN
201         0       3    male    NaN      8      2   69.5500        S  NaN
202         0       3    male  34.00      0      0    6.4958        S  NaN
203         0       3    male  45.50      0      0    7.2250        C  NaN
204         1       3    male  18.00      0      0    8.0500        S  NaN
205         0       3  female   2.00      0      1   10.4625        S    G
206         0       3    male  32.00      1      0   15.8500        S  NaN
207         1       3    male  26.00      0      0   18.7875        C  NaN
208         1       3  female  16.00      0      0    7.7500        Q  NaN
209         1       1    male  40.00      0      0   31.0000        C    A
210         0       3    male  24.00      0      0    7.0500        S  NaN
211         1       2  female  35.00      0      0   21.0000        S  NaN
212         0       3    male  22.00      0      0    7.2500        S  NaN
213         0       2    male  30.00      0      0   13.0000        S  NaN
214         0       3    male    NaN      1      0    7.7500        Q  NaN
215         1       1  female  31.00      1      0  113.2750        C    D
216         1       3  female  27.00      0      0    7.9250        S  NaN
217         0       2    male  42.00      1      0   27.0000        S  NaN
218         1       1  female  32.00      0      0   76.2917        C    D
219         0       2    male  30.00      0      0   10.5000        S  NaN
220         1       3    male  16.00      0      0    8.0500        S  NaN
221         0       2    male  27.00      0      0   13.0000        S  NaN
222         0       3    male  51.00      0      0    8.0500        S  NaN
223         0       3    male    NaN      0      0    7.8958        S  NaN
224         1       1    male  38.00      1      0   90.0000        S    C
225         0       3    male  22.00      0      0    9.3500        S  NaN
226         1       2    male  19.00      0      0   10.5000        S  NaN
227         0       3    male  20.50      0      0    7.2500        S  NaN
228         0       2    male  18.00      0      0   13.0000        S  NaN
229         0       3  female    NaN      3      1   25.4667        S  NaN
230         1       1  female  35.00      1      0   83.4750        S    C
231         0       3    male  29.00      0      0    7.7750        S  NaN
232         0       2    male  59.00      0      0   13.5000        S  NaN
233         1       3  female   5.00      4      2   31.3875        S  NaN
234         0       2    male  24.00      0      0   10.5000        S  NaN
235         0       3  female    NaN      0      0    7.5500        S  NaN
236         0       2    male  44.00      1      0   26.0000        S  NaN
237         1       2  female   8.00      0      2   26.2500        S  NaN
238         0       2    male  19.00      0      0   10.5000        S  NaN
239         0       2    male  33.00      0      0   12.2750        S  NaN
240         0       3  female    NaN      1      0   14.4542        C  NaN
241         1       3  female    NaN      1      0   15.5000        Q  NaN
242         0       2    male  29.00      0      0   10.5000        S  NaN
243         0       3    male  22.00      0      0    7.1250        S  NaN
244         0       3    male  30.00      0      0    7.2250        C  NaN
245         0       1    male  44.00      2      0   90.0000        Q    C
246         0       3  female  25.00      0      0    7.7750        S  NaN
247         1       2  female  24.00      0      2   14.5000        S  NaN
248         1       1    male  37.00      1      1   52.5542        S    D
249         0       2    male  54.00      1      0   26.0000        S  NaN
250         0       3    male    NaN      0      0    7.2500        S  NaN
251         0       3  female  29.00      1      1   10.4625        S    G
252         0       1    male  62.00      0      0   26.5500        S    C
253         0       3    male  30.00      1      0   16.1000        S  NaN
254         0       3  female  41.00      0      2   20.2125        S  NaN
255         1       3  female  29.00      0      2   15.2458        C  NaN
256         1       1  female    NaN      0      0   79.2000        C  NaN
257         1       1  female  30.00      0      0   86.5000        S    B
258         1       1  female  35.00      0      0  512.3292        C  NaN
259         1       2  female  50.00      0      1   26.0000        S  NaN
260         0       3    male    NaN      0      0    7.7500        Q  NaN
261         1       3    male   3.00      4      2   31.3875        S  NaN
262         0       1    male  52.00      1      1   79.6500        S    E
263         0       1    male  40.00      0      0    0.0000        S    B
264         0       3  female    NaN      0      0    7.7500        Q  NaN

## First data inspection: info() .. describe() ..  describe(include="O")

In [27]:
#get #of rows and columns. names of columns -  missing values - type of data in columns, memory used xxxxxxx
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   survived  891 non-null    int64
 1   pclass    891 non-null    int64
 2   sex       891 non-null    object
 3   age       714 non-null    float64
 4   sibsp     891 non-null    int64
 5   parch     891 non-null    int64
 6   fare      891 non-null    float64
 7   embarked  889 non-null    object
 8   deck      203 non-null    object
dtypes: float64(2), int64(4), object(3)
memory usage: 62.8+ KB

In [29]:
#describe: summary statistics on numerical columns (integer + float)
titanic.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [31]:
#Analysis of nonnumerical data (string == object). O in code means object(string)
titanic.describe(include='O')

         sex embarked deck
count    891      889  203
unique     2        3    7
top     male        S    C
freq     577      644   59

## Build-in-function

In [33]:
#type: get the type of dataframe
type(titanic)

pandas.core.frame.DataFrame

In [34]:
#len: # of rows
len(titanic)

891

In [36]:
#round: round numerical value into decided number (dataframe, rounded_decimal)
round(titanic,0)

     survived  pclass     sex   age  sibsp  parch   fare embarked deck
0           0       3    male  22.0      1      0    7.0        S  NaN
1           1       1  female  38.0      1      0   71.0        C    C
2           1       3  female  26.0      0      0    8.0        S  NaN
3           1       1  female  35.0      1      0   53.0        S    C
4           0       3    male  35.0      0      0    8.0        S  NaN
5           0       3    male   NaN      0      0    8.0        Q  NaN
6           0       1    male  54.0      0      0   52.0        S    E
7           0       3    male   2.0      3      1   21.0        S  NaN
8           1       3  female  27.0      0      2   11.0        S  NaN
9           1       2  female  14.0      1      0   30.0        C  NaN
10          1       3  female   4.0      1      1   17.0        S    G
11          1       1  female  58.0      0      0   27.0        S    C
12          0       3    male  20.0      0      0    8.0        S  NaN
13          0       3    male  39.0      1      5   31.0        S  NaN
14          0       3  female  14.0      0      0    8.0        S  NaN
15          1       2  female  55.0      0      0   16.0        S  NaN
16          0       3    male   2.0      4      1   29.0        Q  NaN
17          1       2    male   NaN      0      0   13.0        S  NaN
18          0       3  female  31.0      1      0   18.0        S  NaN
19          1       3  female   NaN      0      0    7.0        C  NaN
20          0       2    male  35.0      0      0   26.0        S  NaN
21          1       2    male  34.0      0      0   13.0        S    D
22          1       3  female  15.0      0      0    8.0        Q  NaN
23          1       1    male  28.0      0      0   36.0        S    A
24          0       3  female   8.0      3      1   21.0        S  NaN
25          1       3  female  38.0      1      5   31.0        S  NaN
26          0       3    male   NaN      0      0    7.0        C  NaN
27          0       1    male  19.0      3      2  263.0        S    C
28          1       3  female   NaN      0      0    8.0        Q  NaN
29          0       3    male   NaN      0      0    8.0        S  NaN
30          0       1    male  40.0      0      0   28.0        C  NaN
31          1       1  female   NaN      1      0  147.0        C    B
32          1       3  female   NaN      0      0    8.0        Q  NaN
33          0       2    male  66.0      0      0   10.0        S  NaN
34          0       1    male  28.0      1      0   82.0        C  NaN
35          0       1    male  42.0      1      0   52.0        S  NaN
36          1       3    male   NaN      0      0    7.0        C  NaN
37          0       3    male  21.0      0      0    8.0        S  NaN
38          0       3  female  18.0      2      0   18.0        S  NaN
39          1       3  female  14.0      1      0   11.0        C  NaN
40          0       3  female  40.0      1      0    9.0        S  NaN
41          0       2  female  27.0      1      0   21.0        S  NaN
42          0       3    male   NaN      0      0    8.0        C  NaN
43          1       2  female   3.0      1      2   42.0        C  NaN
44          1       3  female  19.0      0      0    8.0        Q  NaN
45          0       3    male   NaN      0      0    8.0        S  NaN
46          0       3    male   NaN      1      0   16.0        Q  NaN
47          1       3  female   NaN      0      0    8.0        Q  NaN
48          0       3    male   NaN      2      0   22.0        C  NaN
49          0       3  female  18.0      1      0   18.0        S  NaN
50          0       3    male   7.0      4      1   40.0        S  NaN
51          0       3    male  21.0      0      0    8.0        S  NaN
52          1       1  female  49.0      1      0   77.0        C    D
53          1       2  female  29.0      1      0   26.0        S  NaN
54          0       1    male  65.0      0      1   62.0        C    B
55          1       1    male   NaN      0      0   36.0        S    C
56          1       2  female  21.0      0      0   10.0        S  NaN
57          0       3    male  28.0      0      0    7.0        C  NaN
58          1       2  female   5.0      1      2   28.0        S  NaN
59          0       3    male  11.0      5      2   47.0        S  NaN
60          0       3    male  22.0      0      0    7.0        C  NaN
61          1       1  female  38.0      0      0   80.0      NaN    B
62          0       1    male  45.0      1      0   83.0        S    C
63          0       3    male   4.0      3      2   28.0        S  NaN
64          0       1    male   NaN      0      0   28.0        C  NaN
65          1       3    male   NaN      1      1   15.0        C  NaN
66          1       2  female  29.0      0      0   10.0        S    F
67          0       3    male  19.0      0      0    8.0        S  NaN
68          1       3  female  17.0      4      2    8.0        S  NaN
69          0       3    male  26.0      2      0    9.0        S  NaN
70          0       2    male  32.0      0      0   10.0        S  NaN
71          0       3  female  16.0      5      2   47.0        S  NaN
72          0       2    male  21.0      0      0   74.0        S  NaN
73          0       3    male  26.0      1      0   14.0        C  NaN
74          1       3    male  32.0      0      0   56.0        S  NaN
75          0       3    male  25.0      0      0    8.0        S    F
76          0       3    male   NaN      0      0    8.0        S  NaN
77          0       3    male   NaN      0      0    8.0        S  NaN
78          1       2    male   1.0      0      2   29.0        S  NaN
79          1       3  female  30.0      0      0   12.0        S  NaN
80          0       3    male  22.0      0      0    9.0        S  NaN
81          1       3    male  29.0      0      0   10.0        S  NaN
82          1       3  female   NaN      0      0    8.0        Q  NaN
83          0       1    male  28.0      0      0   47.0        S  NaN
84          1       2  female  17.0      0      0   10.0        S  NaN
85          1       3  female  33.0      3      0   16.0        S  NaN
86          0       3    male  16.0      1      3   34.0        S  NaN
87          0       3    male   NaN      0      0    8.0        S  NaN
88          1       1  female  23.0      3      2  263.0        S    C
89          0       3    male  24.0      0      0    8.0        S  NaN
90          0       3    male  29.0      0      0    8.0        S  NaN
91          0       3    male  20.0      0      0    8.0        S  NaN
92          0       1    male  46.0      1      0   61.0        S    E
93          0       3    male  26.0      1      2   21.0        S  NaN
94          0       3    male  59.0      0      0    7.0        S  NaN
95          0       3    male   NaN      0      0    8.0        S  NaN
96          0       1    male  71.0      0      0   35.0        C    A
97          1       1    male  23.0      0      1   63.0        C    D
98          1       2  female  34.0      0      1   23.0        S  NaN
99          0       2    male  34.0      1      0   26.0        S  NaN
100         0       3  female  28.0      0      0    8.0        S  NaN
101         0       3    male   NaN      0      0    8.0        S  NaN
102         0       1    male  21.0      0      1   77.0        S    D
103         0       3    male  33.0      0      0    9.0        S  NaN
104         0       3    male  37.0      2      0    8.0        S  NaN
105         0       3    male  28.0      0      0    8.0        S  NaN
106         1       3  female  21.0      0      0    8.0        S  NaN
107         1       3    male   NaN      0      0    8.0        S  NaN
108         0       3    male  38.0      0      0    8.0        S  NaN
109         1       3  female   NaN      1      0   24.0        Q  NaN
110         0       1    male  47.0      0      0   52.0        S    C
111         0       3  female  14.0      1      0   14.0        C  NaN
112         0       3    male  22.0      0      0    8.0        S  NaN
113         0       3  female  20.0      1      0   10.0        S  NaN
114         0       3  female  17.0      0      0   14.0        C  NaN
115         0       3    male  21.0      0      0    8.0        S  NaN
116         0       3    male  70.0      0      0    8.0        Q  NaN
117         0       2    male  29.0      1      0   21.0        S  NaN
118         0       1    male  24.0      0      1  248.0        C    B
119         0       3  female   2.0      4      2   31.0        S  NaN
120         0       2    male  21.0      2      0   74.0        S  NaN
121         0       3    male   NaN      0      0    8.0        S  NaN
122         0       2    male  32.0      1      0   30.0        C  NaN
123         1       2  female  32.0      0      0   13.0        S    E
124         0       1    male  54.0      0      1   77.0        S    D
125         1       3    male  12.0      1      0   11.0        C  NaN
126         0       3    male   NaN      0      0    8.0        Q  NaN
127         1       3    male  24.0      0      0    7.0        S  NaN
128         1       3  female   NaN      1      1   22.0        C    F
129         0       3    male  45.0      0      0    7.0        S  NaN
130         0       3    male  33.0      0      0    8.0        C  NaN
131         0       3    male  20.0      0      0    7.0        S  NaN
132         0       3  female  47.0      1      0   14.0        S  NaN
133         1       2  female  29.0      1      0   26.0        S  NaN
134         0       2    male  25.0      0      0   13.0        S  NaN
135         0       2    male  23.0      0      0   15.0        C  NaN
136         1       1  female  19.0      0      2   26.0        S    D
137         0       1    male  37.0      1      0   53.0        S    C
138         0       3    male  16.0      0      0    9.0        S  NaN
139         0       1    male  24.0      0      0   79.0        C    B
140         0       3  female   NaN      0      2   15.0        C  NaN
141         1       3  female  22.0      0      0    8.0        S  NaN
142         1       3  female  24.0      1      0   16.0        S  NaN
143         0       3    male  19.0      0      0    7.0        Q  NaN
144         0       2    male  18.0      0      0   12.0        S  NaN
145         0       2    male  19.0      1      1   37.0        S  NaN
146         1       3    male  27.0      0      0    8.0        S  NaN
147         0       3  female   9.0      2      2   34.0        S  NaN
148         0       2    male  36.0      0      2   26.0        S    F
149         0       2    male  42.0      0      0   13.0        S  NaN
150         0       2    male  51.0      0      0   13.0        S  NaN
151         1       1  female  22.0      1      0   67.0        S    C
152         0       3    male  56.0      0      0    8.0        S  NaN
153         0       3    male  40.0      0      2   14.0        S  NaN
154         0       3    male   NaN      0      0    7.0        S  NaN
155         0       1    male  51.0      0      1   61.0        C  NaN
156         1       3  female  16.0      0      0    8.0        Q  NaN
157         0       3    male  30.0      0      0    8.0        S  NaN
158         0       3    male   NaN      0      0    9.0        S  NaN
159         0       3    male   NaN      8      2   70.0        S  NaN
160         0       3    male  44.0      0      1   16.0        S  NaN
161         1       2  female  40.0      0      0   16.0        S  NaN
162         0       3    male  26.0      0      0    8.0        S  NaN
163         0       3    male  17.0      0      0    9.0        S  NaN
164         0       3    male   1.0      4      1   40.0        S  NaN
165         1       3    male   9.0      0      2   21.0        S  NaN
166         1       1  female   NaN      0      1   55.0        S    E
167         0       3  female  45.0      1      4   28.0        S  NaN
168         0       1    male   NaN      0      0   26.0        S  NaN
169         0       3    male  28.0      0      0   56.0        S  NaN
170         0       1    male  61.0      0      0   34.0        S    B
171         0       3    male   4.0      4      1   29.0        Q  NaN
172         1       3  female   1.0      1      1   11.0        S  NaN
173         0       3    male  21.0      0      0    8.0        S  NaN
174         0       1    male  56.0      0      0   31.0        C    A
175         0       3    male  18.0      1      1    8.0        S  NaN
176         0       3    male   NaN      3      1   25.0        S  NaN
177         0       1  female  50.0      0      0   29.0        C    C
178         0       2    male  30.0      0      0   13.0        S  NaN
179         0       3    male  36.0      0      0    0.0        S  NaN
180         0       3  female   NaN      8      2   70.0        S  NaN
181         0       2    male   NaN      0      0   15.0        C  NaN
182         0       3    male   9.0      4      2   31.0        S  NaN
183         1       2    male   1.0      2      1   39.0        S    F
184         1       3  female   4.0      0      2   22.0        S  NaN
185         0       1    male   NaN      0      0   50.0        S    A
186         1       3  female   NaN      1      0   16.0        Q  NaN
187         1       1    male  45.0      0      0   27.0        S  NaN
188         0       3    male  40.0      1      1   16.0        Q  NaN
189         0       3    male  36.0      0      0    8.0        S  NaN
190         1       2  female  32.0      0      0   13.0        S  NaN
191         0       2    male  19.0      0      0   13.0        S  NaN
192         1       3  female  19.0      1      0    8.0        S  NaN
193         1       2    male   3.0      1      1   26.0        S    F
194         1       1  female  44.0      0      0   28.0        C    B
195         1       1  female  58.0      0      0  147.0        C    B
196         0       3    male   NaN      0      0    8.0        Q  NaN
197         0       3    male  42.0      0      1    8.0        S  NaN
198         1       3  female   NaN      0      0    8.0        Q  NaN
199         0       2  female  24.0      0      0   13.0        S  NaN
200         0       3    male  28.0      0      0   10.0        S  NaN
201         0       3    male   NaN      8      2   70.0        S  NaN
202         0       3    male  34.0      0      0    6.0        S  NaN
203         0       3    male  46.0      0      0    7.0        C  NaN
204         1       3    male  18.0      0      0    8.0        S  NaN
205         0       3  female   2.0      0      1   10.0        S    G
206         0       3    male  32.0      1      0   16.0        S  NaN
207         1       3    male  26.0      0      0   19.0        C  NaN
208         1       3  female  16.0      0      0    8.0        Q  NaN
209         1       1    male  40.0      0      0   31.0        C    A
210         0       3    male  24.0      0      0    7.0        S  NaN
211         1       2  female  35.0      0      0   21.0        S  NaN
212         0       3    male  22.0      0      0    7.0        S  NaN
213         0       2    male  30.0      0      0   13.0        S  NaN
214         0       3    male   NaN      1      0    8.0        Q  NaN
215         1       1  female  31.0      1      0  113.0        C    D
216         1       3  female  27.0      0      0    8.0        S  NaN
217         0       2    male  42.0      1      0   27.0        S  NaN
218         1       1  female  32.0      0      0   76.0        C    D
219         0       2    male  30.0      0      0   10.0        S  NaN
220         1       3    male  16.0      0      0    8.0        S  NaN
221         0       2    male  27.0      0      0   13.0        S  NaN
222         0       3    male  51.0      0      0    8.0        S  NaN
223         0       3    male   NaN      0      0    8.0        S  NaN
224         1       1    male  38.0      1      0   90.0        S    C
225         0       3    male  22.0      0      0    9.0        S  NaN
226         1       2    male  19.0      0      0   10.0        S  NaN
227         0       3    male  20.0      0      0    7.0        S  NaN
228         0       2    male  18.0      0      0   13.0        S  NaN
229         0       3  female   NaN      3      1   25.0        S  NaN
230         1       1  female  35.0      1      0   83.0        S    C
231         0       3    male  29.0      0      0    8.0        S  NaN
232         0       2    male  59.0      0      0   14.0        S  NaN
233         1       3  female   5.0      4      2   31.0        S  NaN
234         0       2    male  24.0      0      0   10.0        S  NaN
235         0       3  female   NaN      0      0    8.0        S  NaN
236         0       2    male  44.0      1      0   26.0        S  NaN
237         1       2  female   8.0      0      2   26.0        S  NaN
238         0       2    male  19.0      0      0   10.0        S  NaN
239         0       2    male  33.0      0      0   12.0        S  NaN
240         0       3  female   NaN      1      0   14.0        C  NaN
241         1       3  female   NaN      1      0   16.0        Q  NaN
242         0       2    male  29.0      0      0   10.0        S  NaN
243         0       3    male  22.0      0      0    7.0        S  NaN
244         0       3    male  30.0      0      0    7.0        C  NaN
245         0       1    male  44.0      2      0   90.0        Q    C
246         0       3  female  25.0      0      0    8.0        S  NaN
247         1       2  female  24.0      0      2   14.0        S  NaN
248         1       1    male  37.0      1      1   53.0        S    D
249         0       2    male  54.0      1      0   26.0        S  NaN
250         0       3    male   NaN      0      0    7.0        S  NaN
251         0       3  female  29.0      1      1   10.0        S    G
252         0       1    male  62.0      0      0   27.0        S    C
253         0       3    male  30.0      1      0   16.0        S  NaN
254         0       3  female  41.0      0      2   20.0        S  NaN
255         1       3  female  29.0      0      2   15.0        C  NaN
256         1       1  female   NaN      0      0   79.0        C  NaN
257         1       1  female  30.0      0      0   86.0        S    B
258         1       1  female  35.0      0      0  512.0        C  NaN
259         1       2  female  50.0      0      1   26.0        S  NaN
260         0       3    male   NaN      0      0    8.0        Q  NaN
261         1       3    male   3.0      4      2   31.0        S  NaN
262         0       1    male  52.0      1      1   80.0        S    E
263         0       1    male  40.0      0      0    0.0        S    B
264         0       3  female   NaN      0      0    8.0        Q  NaN
265         0       2    male  36.0      0      0   10.0        S  NaN
266         0       3    male  16.0      4      1   40.0        S  NaN
267         1       3    male  25.0      1      0    8.0        S  NaN
268         1       1  female  58.0      0      1  153.0        S    C
269         1       1  female  35.0      0      0  136.0        S    C
270         0       1    male   NaN      0      0   31.0        S  NaN
271         1       3    male  25.0      0      0    0.0        S  NaN
272         1       2  female  41.0      0      1   20.0        S  NaN
273         0       1    male  37.0      0      1   30.0        C    C
274         1       3  female   NaN      0      0    8.0        Q  NaN
275         1       1  female  63.0      1      0   78.0        S    D
276         0       3  female  45.0      0      0    8.0        S  NaN
277         0       2    male   NaN      0      0    0.0        S  NaN
278         0       3    male   7.0      4      1   29.0        Q  NaN
279         1       3  female  35.0      1      1   20.0        S  NaN

In [37]:
min(titanic)

'age'

## Attributes

In [39]:
# (# of rows,# of columns)
titanic.shape

(891, 9)

In [41]:
#size: # rows * # columns
titanic.size

8019

In [42]:
titanic.index

RangeIndex(start=0, stop=891, step=1)

In [44]:
#columns: columns name
titanic.columns

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'deck'],
      dtype='object')

## Methods

In [45]:
#min: get the minimum value of each column 
titanic.min()

survived         0
pclass           1
sex         female
age           0.42
sibsp            0
parch            0
fare             0
dtype: object

## Method Chaining

In [50]:
#mean: get the mean of each columns (without sorting)
titanic.mean()

survived     0.383838
pclass       2.308642
age         29.699118
sibsp        0.523008
parch        0.381594
fare        32.204208
dtype: float64

In [51]:
#mean().sort_values(): get the mean of each columns and sort the values
titanic.mean().sort_values()

parch        0.381594
survived     0.383838
sibsp        0.523008
pclass       2.308642
age         29.699118
fare        32.204208
dtype: float64

In [52]:
#mean().sort_values().head(#):  get the mean of each columns and sort the values and get the first ## number in columns
#Ascending sorting
titanic.mean().sort_values().head(3)

parch       0.381594
survived    0.383838
sibsp       0.523008
dtype: float64

In [55]:
titanic.sort_values(by  = 'age',axis = 0).head(20)

     survived  pclass     sex   age  sibsp  parch      fare embarked deck
803         1       3    male  0.42      0      1    8.5167        C  NaN
755         1       2    male  0.67      1      1   14.5000        S  NaN
644         1       3  female  0.75      2      1   19.2583        C  NaN
469         1       3  female  0.75      2      1   19.2583        C  NaN
78          1       2    male  0.83      0      2   29.0000        S  NaN
831         1       2    male  0.83      1      1   18.7500        S  NaN
305         1       1    male  0.92      1      2  151.5500        S    C
827         1       2    male  1.00      0      2   37.0042        C  NaN
381         1       3  female  1.00      0      2   15.7417        C  NaN
164         0       3    male  1.00      4      1   39.6875        S  NaN
183         1       2    male  1.00      2      1   39.0000        S    F
386         0       3    male  1.00      5      2   46.9000        S  NaN
172         1       3  female  1.00      1      1   11.1333        S  NaN
788         1       3    male  1.00      1      2   20.5750        S  NaN
642         0       3  female  2.00      3      2   27.9000        S  NaN
7           0       3    male  2.00      3      1   21.0750        S  NaN
530         1       2  female  2.00      1      1   26.0000        S  NaN
297         0       1  female  2.00      1      2  151.5500        S    C
824         0       3    male  2.00      4      1   39.6875        S  NaN
205         0       3  female  2.00      0      1   10.4625        S    G

## Column selecting

In [58]:
# Pandas Series: shows only one row and one column
# Select one column
titanic['age']

0      22.00
1      38.00
2      26.00
3      35.00
4      35.00
5        NaN
6      54.00
7       2.00
8      27.00
9      14.00
10      4.00
11     58.00
12     20.00
13     39.00
14     14.00
15     55.00
16      2.00
17       NaN
18     31.00
19       NaN
20     35.00
21     34.00
22     15.00
23     28.00
24      8.00
25     38.00
26       NaN
27     19.00
28       NaN
29       NaN
30     40.00
31       NaN
32       NaN
33     66.00
34     28.00
35     42.00
36       NaN
37     21.00
38     18.00
39     14.00
40     40.00
41     27.00
42       NaN
43      3.00
44     19.00
45       NaN
46       NaN
47       NaN
48       NaN
49     18.00
50      7.00
51     21.00
52     49.00
53     29.00
54     65.00
55       NaN
56     21.00
57     28.50
58      5.00
59     11.00
60     22.00
61     38.00
62     45.00
63      4.00
64       NaN
65       NaN
66     29.00
67     19.00
68     17.00
69     26.00
70     32.00
71     16.00
72     21.00
73     26.00
74     32.00
75     25.00
76       NaN
77       NaN
78      0.83
79     30.00
80     22.00
81     29.00
82       NaN
83     28.00
84     17.00
85     33.00
86     16.00
87       NaN
88     23.00
89     24.00
90     29.00
91     20.00
92     46.00
93     26.00
94     59.00
95       NaN
96     71.00
97     23.00
98     34.00
99     34.00
100    28.00
101      NaN
102    21.00
103    33.00
104    37.00
105    28.00
106    21.00
107      NaN
108    38.00
109      NaN
110    47.00
111    14.50
112    22.00
113    20.00
114    17.00
115    21.00
116    70.50
117    29.00
118    24.00
119     2.00
120    21.00
121      NaN
122    32.50
123    32.50
124    54.00
125    12.00
126      NaN
127    24.00
128      NaN
129    45.00
130    33.00
131    20.00
132    47.00
133    29.00
134    25.00
135    23.00
136    19.00
137    37.00
138    16.00
139    24.00
140      NaN
141    22.00
142    24.00
143    19.00
144    18.00
145    19.00
146    27.00
147     9.00
148    36.50
149    42.00
150    51.00
151    22.00
152    55.50
153    40.50
154      NaN
155    51.00
156    16.00
157    30.00
158      NaN
159      NaN
160    44.00
161    40.00
162    26.00
163    17.00
164     1.00
165     9.00
166      NaN
167    45.00
168      NaN
169    28.00
170    61.00
171     4.00
172     1.00
173    21.00
174    56.00
175    18.00
176      NaN
177    50.00
178    30.00
179    36.00
180      NaN
181      NaN
182     9.00
183     1.00
184     4.00
185      NaN
186      NaN
187    45.00
188    40.00
189    36.00
190    32.00
191    19.00
192    19.00
193     3.00
194    44.00
195    58.00
196      NaN
197    42.00
198      NaN
199    24.00
200    28.00
201      NaN
202    34.00
203    45.50
204    18.00
205     2.00
206    32.00
207    26.00
208    16.00
209    40.00
210    24.00
211    35.00
212    22.00
213    30.00
214      NaN
215    31.00
216    27.00
217    42.00
218    32.00
219    30.00
220    16.00
221    27.00
222    51.00
223      NaN
224    38.00
225    22.00
226    19.00
227    20.50
228    18.00
229      NaN
230    35.00
231    29.00
232    59.00
233     5.00
234    24.00
235      NaN
236    44.00
237     8.00
238    19.00
239    33.00
240      NaN
241      NaN
242    29.00
243    22.00
244    30.00
245    44.00
246    25.00
247    24.00
248    37.00
249    54.00
250      NaN
251    29.00
252    62.00
253    30.00
254    41.00
255    29.00
256      NaN
257    30.00
258    35.00
259    50.00
260      NaN
261     3.00
262    52.00
263    40.00
264      NaN
265    36.00
266    16.00
267    25.00
268    58.00
269    35.00
270      NaN
271    25.00
272    41.00
273    37.00
274      NaN
275    63.00
276    45.00
277      NaN
278     7.00
279    35.00
280    65.00
281    28.00
282    16.00
283    19.00
284      NaN
285    33.00
286    30.00
287    22.00
288    42.00
289    22.00
290    26.00
291    19.00
292    36.00
293    24.00
294    24.00
295      NaN
296    23.50
297     2.00
298      NaN
299    50.00
300      NaN
301      NaN
302    19.00
303      NaN
304      NaN
305     0.92
306      NaN
307    17.00
308    30.00
309    30.00
310    24.00
311    18.00
312    26.00
313    28.00
314    43.00
315    26.00
316    24.00
317    54.00
318    31.00
319    40.00
320    22.00
321    27.00
322    30.00
323    22.00
324      NaN
325    36.00
326    61.00
327    36.00
328    31.00
329    16.00
330      NaN
331    45.50
332    38.00
333    16.00
334      NaN
335      NaN
336    29.00
337    41.00
338    45.00
339    45.00
340     2.00
341    24.00
342    28.00
343    25.00
344    36.00
345    24.00
346    40.00
347      NaN
348     3.00
349    42.00
350    23.00
351      NaN
352    15.00
353    25.00
354      NaN
355    28.00
356    22.00
357    38.00
358      NaN
359      NaN
360    40.00
361    29.00
362    45.00
363    35.00
364      NaN
365    30.00
366    60.00
367      NaN
368      NaN
369    24.00
370    25.00
371    18.00
372    19.00
373    22.00
374     3.00
375      NaN
376    22.00
377    27.00
378    20.00
379    19.00
380    42.00
381     1.00
382    32.00
383    35.00
384      NaN
385    18.00
386     1.00
387    36.00
388      NaN
389    17.00
390    36.00
391    21.00
392    28.00
393    23.00
394    24.00
395    22.00
396    31.00
397    46.00
398    23.00
399    28.00
400    39.00
401    26.00
402    21.00
403    28.00
404    20.00
405    34.00
406    51.00
407     3.00
408    21.00
409      NaN
410      NaN
411      NaN
412    33.00
413      NaN
414    44.00
415      NaN
416    34.00
417    18.00
418    30.00
419    10.00
420      NaN
421    21.00
422    29.00
423    28.00
424    18.00
425      NaN
426    28.00
427    19.00
428      NaN
429    32.00
430    28.00
431      NaN
432    42.00
433    17.00
434    50.00
435    14.00
436    21.00
437    24.00
438    64.00
439    31.00
440    45.00
441    20.00
442    25.00
443    28.00
444      NaN
445     4.00
446    13.00
447    34.00
448     5.00
449    52.00
450    36.00
451      NaN
452    30.00
453    49.00
454      NaN
455    29.00
456    65.00
457      NaN
458    50.00
459      NaN
460    48.00
461    34.00
462    47.00
463    48.00
464      NaN
465    38.00
466      NaN
467    56.00
468      NaN
469     0.75
470      NaN
471    38.00
472    33.00
473    23.00
474    22.00
475      NaN
476    34.00
477    29.00
478    22.00
479     2.00
480     9.00
481      NaN
482    50.00
483    63.00
484    25.00
485      NaN
486    35.00
487    58.00
488    30.00
489     9.00
490      NaN
491    21.00
492    55.00
493    71.00
494    21.00
495      NaN
496    54.00
497      NaN
498    25.00
499    24.00
500    17.00
501    21.00
502      NaN
503    37.00
504    16.00
505    18.00
506    33.00
507      NaN
508    28.00
509    26.00
510    29.00
511      NaN
512    36.00
513    54.00
514    24.00
515    47.00
516    34.00
517      NaN
518    36.00
519    32.00
520    30.00
521    22.00
522      NaN
523    44.00
524      NaN
525    40.50
526    50.00
527      NaN
528    39.00
529    23.00
530     2.00
531      NaN
532    17.00
533      NaN
534    30.00
535     7.00
536    45.00
537    30.00
538      NaN
539    22.00
540    36.00
541     9.00
542    11.00
543    32.00
544    50.00
545    64.00
546    19.00
547      NaN
548    33.00
549     8.00
550    17.00
551    27.00
552      NaN
553    22.00
554    22.00
555    62.00
556    48.00
557      NaN
558    39.00
559    36.00
560      NaN
561    40.00
562    28.00
563      NaN
564      NaN
565    24.00
566    19.00
567    29.00
568      NaN
569    32.00
570    62.00
571    53.00
572    36.00
573      NaN
574    16.00
575    19.00
576    34.00
577    39.00
578      NaN
579    32.00
580    25.00
581    39.00
582    54.00
583    36.00
584      NaN
585    18.00
586    47.00
587    60.00
588    22.00
589      NaN
590    35.00
591    52.00
592    47.00
593      NaN
594    37.00
595    36.00
596      NaN
597    49.00
598      NaN
599    49.00
600    24.00
601      NaN
602      NaN
603    44.00
604    35.00
605    36.00
606    30.00
607    27.00
608    22.00
609    40.00
610    39.00
611      NaN
612      NaN
613      NaN
614    35.00
615    24.00
616    34.00
617    26.00
618     4.00
619    26.00
620    27.00
621    42.00
622    20.00
623    21.00
624    21.00
625    61.00
626    57.00
627    21.00
628    26.00
629      NaN
630    80.00
631    51.00
632    32.00
633      NaN
634     9.00
635    28.00
636    32.00
637    31.00
638    41.00
639      NaN
640    20.00
641    24.00
642     2.00
643      NaN
644     0.75
645    48.00
646    19.00
647    56.00
648      NaN
649    23.00
650      NaN
651    18.00
652    21.00
653      NaN
654    18.00
655    24.00
656      NaN
657    32.00
658    23.00
659    58.00
660    50.00
661    40.00
662    47.00
663    36.00
664    20.00
665    32.00
666    25.00
667      NaN
668    43.00
669      NaN
670    40.00
671    31.00
672    70.00
673    31.00
674      NaN
675    18.00
676    24.50
677    18.00
678    43.00
679    36.00
680      NaN
681    27.00
682    20.00
683    14.00
684    60.00
685    25.00
686    14.00
687    19.00
688    18.00
689    15.00
690    31.00
691     4.00
692      NaN
693    25.00
694    60.00
695    52.00
696    44.00
697      NaN
698    49.00
699    42.00
700    18.00
701    35.00
702    18.00
703    25.00
704    26.00
705    39.00
706    45.00
707    42.00
708    22.00
709      NaN
710    24.00
711      NaN
712    48.00
713    29.00
714    52.00
715    19.00
716    38.00
717    27.00
718      NaN
719    33.00
720     6.00
721    17.00
722    34.00
723    50.00
724    27.00
725    20.00
726    30.00
727      NaN
728    25.00
729    25.00
730    29.00
731    11.00
732      NaN
733    23.00
734    23.00
735    28.50
736    48.00
737    35.00
738      NaN
739      NaN
740      NaN
741    36.00
742    21.00
743    24.00
744    31.00
745    70.00
746    16.00
747    30.00
748    19.00
749    31.00
750     4.00
751     6.00
752    33.00
753    23.00
754    48.00
755     0.67
756    28.00
757    18.00
758    34.00
759    33.00
760      NaN
761    41.00
762    20.00
763    36.00
764    16.00
765    51.00
766      NaN
767    30.50
768      NaN
769    32.00
770    24.00
771    48.00
772    57.00
773      NaN
774    54.00
775    18.00
776      NaN
777     5.00
778      NaN
779    43.00
780    13.00
781    17.00
782    29.00
783      NaN
784    25.00
785    25.00
786    18.00
787     8.00
788     1.00
789    46.00
790      NaN
791    16.00
792      NaN
793      NaN
794    25.00
795    39.00
796    49.00
797    31.00
798    30.00
799    30.00
800    34.00
801    31.00
802    11.00
803     0.42
804    27.00
805    31.00
806    39.00
807    18.00
808    39.00
809    33.00
810    26.00
811    39.00
812    35.00
813     6.00
814    30.50
815      NaN
816    23.00
817    31.00
818    43.00
819    10.00
820    52.00
821    27.00
822    38.00
823    27.00
824     2.00
825      NaN
826      NaN
827     1.00
828      NaN
829    62.00
830    15.00
831     0.83
832      NaN
833    23.00
834    18.00
835    39.00
836    21.00
837      NaN
838    32.00
839      NaN
840    20.00
841    16.00
842    30.00
843    34.50
844    17.00
845    42.00
846      NaN
847    35.00
848    28.00
849      NaN
850     4.00
851    74.00
852     9.00
853    16.00
854    44.00
855    18.00
856    45.00
857    51.00
858    24.00
859      NaN
860    41.00
861    21.00
862    48.00
863      NaN
864    24.00
865    42.00
866    27.00
867    31.00
868      NaN
869     4.00
870    26.00
871    47.00
872    33.00
873    47.00
874    28.00
875    15.00
876    20.00
877    19.00
878      NaN
879    56.00
880    25.00
881    33.00
882    22.00
883    28.00
884    25.00
885    39.00
886    27.00
887    19.00
888      NaN
889    26.00
890    32.00
Name: age, dtype: float64

In [60]:
type(titanic['age'])

pandas.core.series.Series

In [65]:
# Selecting 2 columns: list inside the brackets >> the type will be dataframes
# the arrangement of columns will be the same of list
titanic[['age','sex']]

       age     sex
0    22.00    male
1    38.00  female
2    26.00  female
3    35.00  female
4    35.00    male
5      NaN    male
6    54.00    male
7     2.00    male
8    27.00  female
9    14.00  female
10    4.00  female
11   58.00  female
12   20.00    male
13   39.00    male
14   14.00  female
15   55.00  female
16    2.00    male
17     NaN    male
18   31.00  female
19     NaN  female
20   35.00    male
21   34.00    male
22   15.00  female
23   28.00    male
24    8.00  female
25   38.00  female
26     NaN    male
27   19.00    male
28     NaN  female
29     NaN    male
30   40.00    male
31     NaN  female
32     NaN  female
33   66.00    male
34   28.00    male
35   42.00    male
36     NaN    male
37   21.00    male
38   18.00  female
39   14.00  female
40   40.00  female
41   27.00  female
42     NaN    male
43    3.00  female
44   19.00  female
45     NaN    male
46     NaN    male
47     NaN  female
48     NaN    male
49   18.00  female
50    7.00    male
51   21.00    male
52   49.00  female
53   29.00  female
54   65.00    male
55     NaN    male
56   21.00  female
57   28.50    male
58    5.00  female
59   11.00    male
60   22.00    male
61   38.00  female
62   45.00    male
63    4.00    male
64     NaN    male
65     NaN    male
66   29.00  female
67   19.00    male
68   17.00  female
69   26.00    male
70   32.00    male
71   16.00  female
72   21.00    male
73   26.00    male
74   32.00    male
75   25.00    male
76     NaN    male
77     NaN    male
78    0.83    male
79   30.00  female
80   22.00    male
81   29.00    male
82     NaN  female
83   28.00    male
84   17.00  female
85   33.00  female
86   16.00    male
87     NaN    male
88   23.00  female
89   24.00    male
90   29.00    male
91   20.00    male
92   46.00    male
93   26.00    male
94   59.00    male
95     NaN    male
96   71.00    male
97   23.00    male
98   34.00  female
99   34.00    male
100  28.00  female
101    NaN    male
102  21.00    male
103  33.00    male
104  37.00    male
105  28.00    male
106  21.00  female
107    NaN    male
108  38.00    male
109    NaN  female
110  47.00    male
111  14.50  female
112  22.00    male
113  20.00  female
114  17.00  female
115  21.00    male
116  70.50    male
117  29.00    male
118  24.00    male
119   2.00  female
120  21.00    male
121    NaN    male
122  32.50    male
123  32.50  female
124  54.00    male
125  12.00    male
126    NaN    male
127  24.00    male
128    NaN  female
129  45.00    male
130  33.00    male
131  20.00    male
132  47.00  female
133  29.00  female
134  25.00    male
135  23.00    male
136  19.00  female
137  37.00    male
138  16.00    male
139  24.00    male
140    NaN  female
141  22.00  female
142  24.00  female
143  19.00    male
144  18.00    male
145  19.00    male
146  27.00    male
147   9.00  female
148  36.50    male
149  42.00    male
150  51.00    male
151  22.00  female
152  55.50    male
153  40.50    male
154    NaN    male
155  51.00    male
156  16.00  female
157  30.00    male
158    NaN    male
159    NaN    male
160  44.00    male
161  40.00  female
162  26.00    male
163  17.00    male
164   1.00    male
165   9.00    male
166    NaN  female
167  45.00  female
168    NaN    male
169  28.00    male
170  61.00    male
171   4.00    male
172   1.00  female
173  21.00    male
174  56.00    male
175  18.00    male
176    NaN    male
177  50.00  female
178  30.00    male
179  36.00    male
180    NaN  female
181    NaN    male
182   9.00    male
183   1.00    male
184   4.00  female
185    NaN    male
186    NaN  female
187  45.00    male
188  40.00    male
189  36.00    male
190  32.00  female
191  19.00    male
192  19.00  female
193   3.00    male
194  44.00  female
195  58.00  female
196    NaN    male
197  42.00    male
198    NaN  female
199  24.00  female
200  28.00    male
201    NaN    male
202  34.00    male
203  45.50    male
204  18.00    male
205   2.00  female
206  32.00    male
207  26.00    male
208  16.00  female
209  40.00    male
210  24.00    male
211  35.00  female
212  22.00    male
213  30.00    male
214    NaN    male
215  31.00  female
216  27.00  female
217  42.00    male
218  32.00  female
219  30.00    male
220  16.00    male
221  27.00    male
222  51.00    male
223    NaN    male
224  38.00    male
225  22.00    male
226  19.00    male
227  20.50    male
228  18.00    male
229    NaN  female
230  35.00  female
231  29.00    male
232  59.00    male
233   5.00  female
234  24.00    male
235    NaN  female
236  44.00    male
237   8.00  female
238  19.00    male
239  33.00    male
240    NaN  female
241    NaN  female
242  29.00    male
243  22.00    male
244  30.00    male
245  44.00    male
246  25.00  female
247  24.00  female
248  37.00    male
249  54.00    male
250    NaN    male
251  29.00  female
252  62.00    male
253  30.00    male
254  41.00  female
255  29.00  female
256    NaN  female
257  30.00  female
258  35.00  female
259  50.00  female
260    NaN    male
261   3.00    male
262  52.00    male
263  40.00    male
264    NaN  female
265  36.00    male
266  16.00    male
267  25.00    male
268  58.00  female
269  35.00  female
270    NaN    male
271  25.00    male
272  41.00  female
273  37.00    male
274    NaN  female
275  63.00  female
276  45.00  female
277    NaN    male
278   7.00    male
279  35.00  female
280  65.00    male
281  28.00    male
282  16.00    male
283  19.00    male
284    NaN    male
285  33.00    male
286  30.00    male
287  22.00    male
288  42.00    male
289  22.00  female
290  26.00  female
291  19.00  female
292  36.00    male
293  24.00  female
294  24.00    male
295    NaN    male
296  23.50    male
297   2.00  female
298    NaN    male
299  50.00  female
300    NaN  female
301    NaN    male
302  19.00    male
303    NaN  female
304    NaN    male
305   0.92    male
306    NaN  female
307  17.00  female
308  30.00    male
309  30.00  female
310  24.00  female
311  18.00  female
312  26.00  female
313  28.00    male
314  43.00    male
315  26.00  female
316  24.00  female
317  54.00    male
318  31.00  female
319  40.00  female
320  22.00    male
321  27.00    male
322  30.00  female
323  22.00  female
324    NaN    male
325  36.00  female
326  61.00    male
327  36.00  female
328  31.00  female
329  16.00  female
330    NaN  female
331  45.50    male
332  38.00    male
333  16.00    male
334    NaN  female
335    NaN    male
336  29.00    male
337  41.00  female
338  45.00    male
339  45.00    male
340   2.00    male
341  24.00  female
342  28.00    male
343  25.00    male
344  36.00    male
345  24.00  female
346  40.00  female
347    NaN  female
348   3.00    male
349  42.00    male
350  23.00    male
351    NaN    male
352  15.00    male
353  25.00    male
354    NaN    male
355  28.00    male
356  22.00  female
357  38.00  female
358    NaN  female
359    NaN  female
360  40.00    male
361  29.00    male
362  45.00  female
363  35.00    male
364    NaN    male
365  30.00    male
366  60.00  female
367    NaN  female
368    NaN  female
369  24.00  female
370  25.00    male
371  18.00    male
372  19.00    male
373  22.00    male
374   3.00  female
375    NaN  female
376  22.00  female
377  27.00    male
378  20.00    male
379  19.00    male
380  42.00  female
381   1.00  female
382  32.00    male
383  35.00  female
384    NaN    male
385  18.00    male
386   1.00    male
387  36.00  female
388    NaN    male
389  17.00  female
390  36.00    male
391  21.00    male
392  28.00    male
393  23.00  female
394  24.00  female
395  22.00    male
396  31.00  female
397  46.00    male
398  23.00    male
399  28.00  female
400  39.00    male
401  26.00    male
402  21.00  female
403  28.00    male
404  20.00  female
405  34.00    male
406  51.00    male
407   3.00    male
408  21.00    male
409    NaN  female
410    NaN    male
411    NaN    male
412  33.00  female
413    NaN    male
414  44.00    male
415    NaN  female
416  34.00  female
417  18.00  female
418  30.00    male
419  10.00  female
420    NaN    male
421  21.00    male
422  29.00    male
423  28.00  female
424  18.00    male
425    NaN    male
426  28.00  female
427  19.00  female
428    NaN    male
429  32.00    male
430  28.00    male
431    NaN  female
432  42.00  female
433  17.00    male
434  50.00    male
435  14.00  female
436  21.00  female
437  24.00  female
438  64.00    male
439  31.00    male
440  45.00  female
441  20.00    male
442  25.00    male
443  28.00  female
444    NaN    male
445   4.00    male
446  13.00  female
447  34.00    male
448   5.00  female
449  52.00    male
450  36.00    male
451    NaN    male
452  30.00    male
453  49.00    male
454    NaN    male
455  29.00    male
456  65.00    male
457    NaN  female
458  50.00  female
459    NaN    male
460  48.00    male
461  34.00    male
462  47.00    male
463  48.00    male
464    NaN    male
465  38.00    male
466    NaN    male
467  56.00    male
468    NaN    male
469   0.75  female
470    NaN    male
471  38.00    male
472  33.00  female
473  23.00  female
474  22.00  female
475    NaN    male
476  34.00    male
477  29.00    male
478  22.00    male
479   2.00  female
480   9.00    male
481    NaN    male
482  50.00    male
483  63.00  female
484  25.00    male
485    NaN  female
486  35.00  female
487  58.00    male
488  30.00    male
489   9.00    male
490    NaN    male
491  21.00    male
492  55.00    male
493  71.00    male
494  21.00    male
495    NaN    male
496  54.00  female
497    NaN    male
498  25.00  female
499  24.00    male
500  17.00    male
501  21.00  female
502    NaN  female
503  37.00  female
504  16.00  female
505  18.00    male
506  33.00  female
507    NaN    male
508  28.00    male
509  26.00    male
510  29.00    male
511    NaN    male
512  36.00    male
513  54.00  female
514  24.00    male
515  47.00    male
516  34.00  female
517    NaN    male
518  36.00  female
519  32.00    male
520  30.00  female
521  22.00    male
522    NaN    male
523  44.00  female
524    NaN    male
525  40.50    male
526  50.00  female
527    NaN    male
528  39.00    male
529  23.00    male
530   2.00  female
531    NaN    male
532  17.00    male
533    NaN  female
534  30.00  female
535   7.00  female
536  45.00    male
537  30.00  female
538    NaN    male
539  22.00  female
540  36.00  female
541   9.00  female
542  11.00  female
543  32.00    male
544  50.00    male
545  64.00    male
546  19.00  female
547    NaN    male
548  33.00    male
549   8.00    male
550  17.00    male
551  27.00    male
552    NaN    male
553  22.00    male
554  22.00  female
555  62.00    male
556  48.00  female
557    NaN    male
558  39.00  female
559  36.00  female
560    NaN    male
561  40.00    male
562  28.00    male
563    NaN    male
564    NaN  female
565  24.00    male
566  19.00    male
567  29.00  female
568    NaN    male
569  32.00    male
570  62.00    male
571  53.00  female
572  36.00    male
573    NaN  female
574  16.00    male
575  19.00    male
576  34.00  female
577  39.00  female
578    NaN  female
579  32.00    male
580  25.00  female
581  39.00  female
582  54.00    male
583  36.00    male
584    NaN    male
585  18.00  female
586  47.00    male
587  60.00    male
588  22.00    male
589    NaN    male
590  35.00    male
591  52.00  female
592  47.00    male
593    NaN  female
594  37.00    male
595  36.00    male
596    NaN  female
597  49.00    male
598    NaN    male
599  49.00    male
600  24.00  female
601    NaN    male
602    NaN    male
603  44.00    male
604  35.00    male
605  36.00    male
606  30.00    male
607  27.00    male
608  22.00  female
609  40.00  female
610  39.00  female
611    NaN    male
612    NaN  female
613    NaN    male
614  35.00    male
615  24.00  female
616  34.00    male
617  26.00  female
618   4.00  female
619  26.00    male
620  27.00    male
621  42.00    male
622  20.00    male
623  21.00    male
624  21.00    male
625  61.00    male
626  57.00    male
627  21.00  female
628  26.00    male
629    NaN    male
630  80.00    male
631  51.00    male
632  32.00    male
633    NaN    male
634   9.00  female
635  28.00  female
636  32.00    male
637  31.00    male
638  41.00  female
639    NaN    male
640  20.00    male
641  24.00  female
642   2.00  female
643    NaN    male
644   0.75  female
645  48.00    male
646  19.00    male
647  56.00    male
648    NaN    male
649  23.00  female
650    NaN    male
651  18.00  female
652  21.00    male
653    NaN  female
654  18.00  female
655  24.00    male
656    NaN    male
657  32.00  female
658  23.00    male
659  58.00    male
660  50.00    male
661  40.00    male
662  47.00    male
663  36.00    male
664  20.00    male
665  32.00    male
666  25.00    male
667    NaN    male
668  43.00    male
669    NaN  female
670  40.00  female
671  31.00    male
672  70.00    male
673  31.00    male
674    NaN    male
675  18.00    male
676  24.50    male
677  18.00  female
678  43.00  female
679  36.00    male
680    NaN  female
681  27.00    male
682  20.00    male
683  14.00    male
684  60.00    male
685  25.00    male
686  14.00    male
687  19.00    male
688  18.00    male
689  15.00  female
690  31.00    male
691   4.00  female
692    NaN    male
693  25.00    male
694  60.00    male
695  52.00    male
696  44.00    male
697    NaN  female
698  49.00    male
699  42.00    male
700  18.00  female
701  35.00    male
702  18.00  female
703  25.00    male
704  26.00    male
705  39.00    male
706  45.00  female
707  42.00    male
708  22.00  female
709    NaN    male
710  24.00  female
711    NaN    male
712  48.00    male
713  29.00    male
714  52.00    male
715  19.00    male
716  38.00  female
717  27.00  female
718    NaN    male
719  33.00    male
720   6.00  female
721  17.00    male
722  34.00    male
723  50.00    male
724  27.00    male
725  20.00    male
726  30.00  female
727    NaN  female
728  25.00    male
729  25.00  female
730  29.00  female
731  11.00    male
732    NaN    male
733  23.00    male
734  23.00    male
735  28.50    male
736  48.00  female
737  35.00    male
738    NaN    male
739    NaN    male
740    NaN    male
741  36.00    male
742  21.00  female
743  24.00    male
744  31.00    male
745  70.00    male
746  16.00    male
747  30.00  female
748  19.00    male
749  31.00    male
750   4.00  female
751   6.00    male
752  33.00    male
753  23.00    male
754  48.00  female
755   0.67    male
756  28.00    male
757  18.00    male
758  34.00    male
759  33.00  female
760    NaN    male
761  41.00    male
762  20.00    male
763  36.00  female
764  16.00    male
765  51.00  female
766    NaN    male
767  30.50  female
768    NaN    male
769  32.00    male
770  24.00    male
771  48.00    male
772  57.00  female
773    NaN    male
774  54.00  female
775  18.00    male
776    NaN    male
777   5.00  female
778    NaN    male
779  43.00  female
780  13.00  female
781  17.00  female
782  29.00    male
783    NaN    male
784  25.00    male
785  25.00    male
786  18.00  female
787   8.00    male
788   1.00    male
789  46.00    male
790    NaN    male
791  16.00    male
792    NaN  female
793    NaN    male
794  25.00    male
795  39.00    male
796  49.00  female
797  31.00  female
798  30.00    male
799  30.00  female
800  34.00    male
801  31.00  female
802  11.00    male
803   0.42    male
804  27.00    male
805  31.00    male
806  39.00    male
807  18.00  female
808  39.00    male
809  33.00  female
810  26.00    male
811  39.00    male
812  35.00    male
813   6.00  female
814  30.50    male
815    NaN    male
816  23.00  female
817  31.00    male
818  43.00    male
819  10.00    male
820  52.00  female
821  27.00    male
822  38.00    male
823  27.00  female
824   2.00    male
825    NaN    male
826    NaN    male
827   1.00    male
828    NaN    male
829  62.00  female
830  15.00  female
831   0.83    male
832    NaN    male
833  23.00    male
834  18.00    male
835  39.00  female
836  21.00    male
837    NaN    male
838  32.00    male
839    NaN    male
840  20.00    male
841  16.00    male
842  30.00  female
843  34.50    male
844  17.00    male
845  42.00    male
846    NaN    male
847  35.00    male
848  28.00    male
849    NaN  female
850   4.00    male
851  74.00    male
852   9.00  female
853  16.00  female
854  44.00  female
855  18.00  female
856  45.00  female
857  51.00    male
858  24.00  female
859    NaN    male
860  41.00    male
861  21.00    male
862  48.00  female
863    NaN  female
864  24.00    male
865  42.00  female
866  27.00  female
867  31.00    male
868    NaN    male
869   4.00    male
870  26.00    male
871  47.00  female
872  33.00    male
873  47.00    male
874  28.00  female
875  15.00  female
876  20.00    male
877  19.00    male
878    NaN    male
879  56.00  female
880  25.00  female
881  33.00    male
882  22.00  female
883  28.00    male
884  25.00    male
885  39.00  female
886  27.00    male
887  19.00  female
888    NaN  female
889  26.00    male
890  32.00    male

In [66]:
type(titanic[['age','sex']])

pandas.core.frame.DataFrame

In [67]:
type(titanic[['sex']])

pandas.core.frame.DataFrame

## Selecting column: dot notation

In [71]:
# Selecting column by 'dot notation '
titanic.age

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
5       NaN
6      54.0
7       2.0
8      27.0
9      14.0
10      4.0
11     58.0
12     20.0
13     39.0
14     14.0
15     55.0
16      2.0
17      NaN
18     31.0
19      NaN
20     35.0
21     34.0
22     15.0
23     28.0
24      8.0
25     38.0
26      NaN
27     19.0
28      NaN
29      NaN
       ...
861    21.0
862    48.0
863     NaN
864    24.0
865    42.0
866    27.0
867    31.0
868     NaN
869     4.0
870    26.0
871    47.0
872    33.0
873    47.0
874    28.0
875    15.0
876    20.0
877    19.0
878     NaN
879    56.0
880    25.0
881    33.0
882    22.0
883    28.0
884    25.0
885    39.0
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64

In [72]:
type(titanic.sex)

pandas.core.series.Series

In [73]:
titanic.age.equals(titanic['age'])

True

## Zero-based Indexing

In [74]:
import pandas as pd

In [75]:
summer = pd.read_csv('summer.csv')

In [81]:
summer.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [82]:
summer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31165 entries, 0 to 31164
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        31165 non-null  int64
 1   City        31165 non-null  object
 2   Sport       31165 non-null  object
 3   Discipline  31165 non-null  object
 4   Athlete     31165 non-null  object
 5   Country     31161 non-null  object
 6   Gender      31165 non-null  object
 7   Event       31165 non-null  object
 8   Medal       31165 non-null  object
dtypes: int64(1), object(8)
memory usage: 2.1+ MB

## Change index column

In [17]:
# Chnage index col
summer = pd.read_csv('summer.csv', index_col='Athlete')

In [85]:
summer.head()

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver

## Selecting row with iloc[]

In [21]:
#get the first row >> pd.Series
#iloc: position based indexing
summer.iloc[0]

Year                    1896
City                  Athens
Sport               Aquatics
Discipline          Swimming
Country                  HUN
Gender                   Men
Event         100M Freestyle
Medal                   Gold
Name: HAJOS, Alfred, dtype: object

In [14]:
summer.iloc[2]

Year                                1896
City                              Athens
Sport                           Aquatics
Discipline                      Swimming
Country                              GRE
Gender                               Men
Event         100M Freestyle For Sailors
Medal                             Bronze
Name: DRIVAS, Dimitrios, dtype: object

In [87]:
type (summer.iloc[0])

pandas.core.series.Series

In [89]:
# Get the second row
summer.iloc[1]

Year                    1896
City                  Athens
Sport               Aquatics
Discipline          Swimming
Country                  AUT
Gender                   Men
Event         100M Freestyle
Medal                 Silver
Name: HERSCHMANN, Otto, dtype: object

In [90]:
# Get the last row
summer.iloc[-1]

Year                         2012
City                       London
Sport                   Wrestling
Discipline    Wrestling Freestyle
Country                       SWE
Gender                        Men
Event                    Wg 96 KG
Medal                      Bronze
Name: LIDBERG, Jimmy, dtype: object

In [92]:
# Get multiple rows (inside list)
summer.iloc[[2,4,6]]

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,1200M Freestyle,Gold

In [93]:
#Slice the row
summer.iloc[2:8]

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
"CHOROPHAS, Efstathios",1896,Athens,Aquatics,Swimming,GRE,Men,1200M Freestyle,Bronze
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,1200M Freestyle,Gold
"ANDREOU, Joannis",1896,Athens,Aquatics,Swimming,GRE,Men,1200M Freestyle,Silver

In [20]:
#loc: label-based indexing
summer.loc['HAJOS, Alfred']

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,1200M Freestyle,Gold

In [23]:
summer.loc['PHELPS, Michael']

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"PHELPS, Michael",2004,Athens,Aquatics,Swimming,USA,Men,100M Butterfly,Gold
"PHELPS, Michael",2004,Athens,Aquatics,Swimming,USA,Men,200M Butterfly,Gold
"PHELPS, Michael",2004,Athens,Aquatics,Swimming,USA,Men,200M Freestyle,Bronze
"PHELPS, Michael",2004,Athens,Aquatics,Swimming,USA,Men,200M Individual Medley,Gold
"PHELPS, Michael",2004,Athens,Aquatics,Swimming,USA,Men,400M Individual Medley,Gold
"PHELPS, Michael",2004,Athens,Aquatics,Swimming,USA,Men,4X100M Freestyle Relay,Bronze
"PHELPS, Michael",2004,Athens,Aquatics,Swimming,USA,Men,4X100M Medley Relay,Gold
"PHELPS, Michael",2004,Athens,Aquatics,Swimming,USA,Men,4X200M Freestyle Relay,Gold
"PHELPS, Michael",2008,Beijing,Aquatics,Swimming,USA,Men,100M Butterfly,Gold
"PHELPS, Michael",2008,Beijing,Aquatics,Swimming,USA,Men,200M Butterfly,Gold
"PHELPS, Michael",2008,Beijing,Aquatics,Swimming,USA,Men,200M Freestyle,Gold
"PHELPS, Michael",2008,Beijing,Aquatics,Swimming,USA,Men,200M Individual Medley,Gold
"PHELPS, Michael",2008,Beijing,Aquatics,Swimming,USA,Men,400M Individual Medley,Gold
"PHELPS, Michael",2008,Beijing,Aquatics,Swimming,USA,Men,4X100M Freestyle Relay,Gold
"PHELPS, Michael",2008,Beijing,Aquatics,Swimming,USA,Men,4X100M Medley Relay,Gold
"PHELPS, Michael",2008,Beijing,Aquatics,Swimming,USA,Men,4X200M Freestyle Relay,Gold
"PHELPS, Michael",2012,London,Aquatics,Swimming,USA,Men,100M Butterfly,Gold
"PHELPS, Michael",2012,London,Aquatics,Swimming,USA,Men,200M Butterfly,Silver
"PHELPS, Michael",2012,London,Aquatics,Swimming,USA,Men,200M Medley,Gold
"PHELPS, Michael",2012,London,Aquatics,Swimming,USA,Men,4X100M Freestyle,Silver
"PHELPS, Michael",2012,London,Aquatics,Swimming,USA,Men,4X100M Medley,Gold
"PHELPS, Michael",2012,London,Aquatics,Swimming,USA,Men,4X200M Freestyle,Gold

## Indexing/Slicing Rows and columns with loc[]

- dataframe.loc['row_name','column_name] <br>
- If several rows and columns: put in []

In [26]:
summer.loc['PHELPS, Michael', 'Medal']

Athlete
PHELPS, Michael      Gold
PHELPS, Michael      Gold
PHELPS, Michael    Bronze
PHELPS, Michael      Gold
PHELPS, Michael      Gold
PHELPS, Michael    Bronze
PHELPS, Michael      Gold
PHELPS, Michael      Gold
PHELPS, Michael      Gold
PHELPS, Michael      Gold
PHELPS, Michael      Gold
PHELPS, Michael      Gold
PHELPS, Michael      Gold
PHELPS, Michael      Gold
PHELPS, Michael      Gold
PHELPS, Michael      Gold
PHELPS, Michael      Gold
PHELPS, Michael    Silver
PHELPS, Michael      Gold
PHELPS, Michael    Silver
PHELPS, Michael      Gold
PHELPS, Michael      Gold
Name: Medal, dtype: object

In [29]:
summer.loc[['PHELPS, Michael', 'LEWIS, Carl'], ['Medal', 'Event' ]]

                  Medal                   Event
Athlete
PHELPS, Michael    Gold          100M Butterfly
PHELPS, Michael    Gold          200M Butterfly
PHELPS, Michael  Bronze          200M Freestyle
PHELPS, Michael    Gold  200M Individual Medley
PHELPS, Michael    Gold  400M Individual Medley
PHELPS, Michael  Bronze  4X100M Freestyle Relay
PHELPS, Michael    Gold     4X100M Medley Relay
PHELPS, Michael    Gold  4X200M Freestyle Relay
PHELPS, Michael    Gold          100M Butterfly
PHELPS, Michael    Gold          200M Butterfly
PHELPS, Michael    Gold          200M Freestyle
PHELPS, Michael    Gold  200M Individual Medley
PHELPS, Michael    Gold  400M Individual Medley
PHELPS, Michael    Gold  4X100M Freestyle Relay
PHELPS, Michael    Gold     4X100M Medley Relay
PHELPS, Michael    Gold  4X200M Freestyle Relay
PHELPS, Michael    Gold          100M Butterfly
PHELPS, Michael  Silver          200M Butterfly
PHELPS, Michael    Gold             200M Medley
PHELPS, Michael  Silver        4X100M Freestyle
PHELPS, Michael    Gold           4X100M Medley
PHELPS, Michael    Gold        4X200M Freestyle
LEWIS, Carl        Gold                    100M
LEWIS, Carl        Gold                    200M
LEWIS, Carl        Gold            4X100M Relay
LEWIS, Carl        Gold               Long Jump
LEWIS, Carl        Gold                    100M
LEWIS, Carl      Silver                    200M
LEWIS, Carl        Gold               Long Jump
LEWIS, Carl        Gold            4X100M Relay
LEWIS, Carl        Gold               Long Jump
LEWIS, Carl        Gold               Long Jump

In [38]:
summer.loc[:, ['Medal', 'Event' ]]

                            Medal                       Event
Athlete
HAJOS, Alfred                Gold              100M Freestyle
HERSCHMANN, Otto           Silver              100M Freestyle
DRIVAS, Dimitrios          Bronze  100M Freestyle For Sailors
MALOKINIS, Ioannis           Gold  100M Freestyle For Sailors
CHASAPIS, Spiridon         Silver  100M Freestyle For Sailors
...                           ...                         ...
JANIKOWSKI, Damian         Bronze                    Wg 84 KG
REZAEI, Ghasem Gholamreza    Gold                    Wg 96 KG
TOTROV, Rustam             Silver                    Wg 96 KG
ALEKSANYAN, Artur          Bronze                    Wg 96 KG
LIDBERG, Jimmy             Bronze                    Wg 96 KG

[31165 rows x 2 columns]

In [39]:
summer.loc[:, ['Medal', 'Event' ]].equals(summer[['Medal','Event']])

True

In [34]:
#Get all rows until CHASAPIS, Spiridon (include)>> should be unique 
summer.loc[:'CHASAPIS, Spiridon']

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver

In [36]:
pd.options.display.min_rows

10

## Putting all together .. 3 alternatives

In [45]:
summer[['Year','Event','Medal']]#.loc['LEWIS, Carl']

                           Year                       Event   Medal
Athlete
HAJOS, Alfred              1896              100M Freestyle    Gold
HERSCHMANN, Otto           1896              100M Freestyle  Silver
DRIVAS, Dimitrios          1896  100M Freestyle For Sailors  Bronze
MALOKINIS, Ioannis         1896  100M Freestyle For Sailors    Gold
CHASAPIS, Spiridon         1896  100M Freestyle For Sailors  Silver
...                         ...                         ...     ...
JANIKOWSKI, Damian         2012                    Wg 84 KG  Bronze
REZAEI, Ghasem Gholamreza  2012                    Wg 96 KG    Gold
TOTROV, Rustam             2012                    Wg 96 KG  Silver
ALEKSANYAN, Artur          2012                    Wg 96 KG  Bronze
LIDBERG, Jimmy             2012                    Wg 96 KG  Bronze

[31165 rows x 3 columns]

In [46]:
summer[['Year','Event','Medal']].loc['LEWIS, Carl']

             Year         Event   Medal
Athlete
LEWIS, Carl  1984          100M    Gold
LEWIS, Carl  1984          200M    Gold
LEWIS, Carl  1984  4X100M Relay    Gold
LEWIS, Carl  1984     Long Jump    Gold
LEWIS, Carl  1988          100M    Gold
LEWIS, Carl  1988          200M  Silver
LEWIS, Carl  1988     Long Jump    Gold
LEWIS, Carl  1992  4X100M Relay    Gold
LEWIS, Carl  1992     Long Jump    Gold
LEWIS, Carl  1996     Long Jump    Gold

In [43]:
summer.loc['LEWIS, Carl'][['Year','Event','Medal']] #Chain indexing

             Year         Event   Medal
Athlete
LEWIS, Carl  1984          100M    Gold
LEWIS, Carl  1984          200M    Gold
LEWIS, Carl  1984  4X100M Relay    Gold
LEWIS, Carl  1984     Long Jump    Gold
LEWIS, Carl  1988          100M    Gold
LEWIS, Carl  1988          200M  Silver
LEWIS, Carl  1988     Long Jump    Gold
LEWIS, Carl  1992  4X100M Relay    Gold
LEWIS, Carl  1992     Long Jump    Gold
LEWIS, Carl  1996     Long Jump    Gold

In [44]:
summer.loc['LEWIS, Carl', ['Year','Event','Medal']]

             Year         Event   Medal
Athlete
LEWIS, Carl  1984          100M    Gold
LEWIS, Carl  1984          200M    Gold
LEWIS, Carl  1984  4X100M Relay    Gold
LEWIS, Carl  1984     Long Jump    Gold
LEWIS, Carl  1988          100M    Gold
LEWIS, Carl  1988          200M  Silver
LEWIS, Carl  1988     Long Jump    Gold
LEWIS, Carl  1992  4X100M Relay    Gold
LEWIS, Carl  1992     Long Jump    Gold
LEWIS, Carl  1996     Long Jump    Gold

In [47]:
#load the data with number indexing
summer1 = pd.read_csv('summer.csv')

In [49]:
summer1.loc[[0,300,1500],['Athlete','Medal']]

                       Athlete   Medal
0                HAJOS, Alfred    Gold
300   SHELDON, Lewis Pendleton  Bronze
1500             LEFDAHL, Rolf  Silver

## reindex()

In [52]:
#Age and 40000 row are not available
#reindex not in duplicate value in case of athlete column index 
summer1.reindex(index = [0,5,30000,40000], columns = ['Athlete','Medal','Age'])

                     Athlete   Medal  Age
0              HAJOS, Alfred    Gold  NaN
5      CHOROPHAS, Efstathios  Bronze  NaN
30000       PAUTARAN, Maryna  Bronze  NaN
40000                    NaN     NaN  NaN

In [53]:
#get the index column by index attribute
summer.index

Index(['HAJOS, Alfred', 'HERSCHMANN, Otto', 'DRIVAS, Dimitrios',
       'MALOKINIS, Ioannis', 'CHASAPIS, Spiridon', 'CHOROPHAS, Efstathios',
       'HAJOS, Alfred', 'ANDREOU, Joannis', 'CHOROPHAS, Efstathios',
       'NEUMANN, Paul',
       ...
       'AHMADOV, Emin', 'KAZAKEVIC, Aleksandr', 'KHUGAEV, Alan',
       'EBRAHIM, Karam Mohamed Gaber', 'GAJIYEV, Danyal', 'JANIKOWSKI, Damian',
       'REZAEI, Ghasem Gholamreza', 'TOTROV, Rustam', 'ALEKSANYAN, Artur',
       'LIDBERG, Jimmy'],
      dtype='object', name='Athlete', length=31165)

In [54]:
len(summer.index)

31165

In [55]:
summer.info()

<class 'pandas.core.frame.DataFrame'>
Index: 31165 entries, HAJOS, Alfred to LIDBERG, Jimmy
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        31165 non-null  int64
 1   City        31165 non-null  object
 2   Sport       31165 non-null  object
 3   Discipline  31165 non-null  object
 4   Country     31161 non-null  object
 5   Gender      31165 non-null  object
 6   Event       31165 non-null  object
 7   Medal       31165 non-null  object
dtypes: int64(1), object(7)
memory usage: 2.8+ MB

## Advanced indexing and Slicing (optional)

In [56]:
# Slicing rows using variable as a list
rows = list(range(5)) + [354,765]
rows

[0, 1, 2, 3, 4, 354, 765]

In [57]:
summer.iloc[rows]

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
DE BELLEGARDE,1900,Paris,Equestrian,Jumping,FRA,Men,Long Jump Individual,Bronze
"CORAY, Albert",1904,St Louis,Athletics,Athletics,ZZX,Men,4Miles Team,Silver

In [62]:
# Slicing columns using list variables 
#to_list: to convert object into list
col = summer.columns[:3].to_list() + ['Gender','Event']
col

['Year', 'City', 'Sport', 'Gender', 'Event']

In [64]:
summer.loc[:,col]

,Year,City,Sport,Gender,Event
Athlete,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Men,100M Freestyle
"HERSCHMANN, Otto",1896,Athens,Aquatics,Men,100M Freestyle
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Men,100M Freestyle For Sailors
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Men,100M Freestyle For Sailors
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Men,100M Freestyle For Sailors
...,...,...,...,...,...
"JANIKOWSKI, Damian",2012,London,Wrestling,Men,Wg 84 KG
"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Men,Wg 96 KG
"TOTROV, Rustam",2012,London,Wrestling,Men,Wg 96 KG
"ALEKSANYAN, Artur",2012,London,Wrestling,Men,Wg 96 KG
"LIDBERG, Jimmy",2012,London,Wrestling,Men,Wg 96 KG

### Combining position- and label-based indexing

In [66]:
col = summer.columns[[4,6]]
col

Index(['Country', 'Event'], dtype='object')

In [67]:
summer.loc['PHELPS, Michael', col]

                Country                   Event
Athlete
PHELPS, Michael     USA          100M Butterfly
PHELPS, Michael     USA          200M Butterfly
PHELPS, Michael     USA          200M Freestyle
PHELPS, Michael     USA  200M Individual Medley
PHELPS, Michael     USA  400M Individual Medley
PHELPS, Michael     USA  4X100M Freestyle Relay
PHELPS, Michael     USA     4X100M Medley Relay
PHELPS, Michael     USA  4X200M Freestyle Relay
PHELPS, Michael     USA          100M Butterfly
PHELPS, Michael     USA          200M Butterfly
PHELPS, Michael     USA          200M Freestyle
PHELPS, Michael     USA  200M Individual Medley
PHELPS, Michael     USA  400M Individual Medley
PHELPS, Michael     USA  4X100M Freestyle Relay
PHELPS, Michael     USA     4X100M Medley Relay
PHELPS, Michael     USA  4X200M Freestyle Relay
PHELPS, Michael     USA          100M Butterfly
PHELPS, Michael     USA          200M Butterfly
PHELPS, Michael     USA             200M Medley
PHELPS, Michael     USA        4X100M Freestyle
PHELPS, Michael     USA           4X100M Medley
PHELPS, Michael     USA        4X200M Freestyle